<div id="todo" class="page-layout carded left-sidenav" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- LEFT SIDENAV -->
    <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"
                ng-include="'app/main/tarefas/minhas-tarefas/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / LEFT SIDENAV -->

    <!-- CENTER -->
    <div class="center pt-32" layout="column" flex>

       <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="left center" ng-if="!vm.hasSelectedTasks()">
				<md-select class="simplified" ng-model="vm.taskOrder" placeholder="Ordenação" 
	                       ng-change="vm.taskOrderDescending = vm.taskOrder === '' ? false : vm.taskOrderDescending">
	                <md-option value="" translate="TAREFAS.MINHAS-TAREFAS.ORDENACAO.MANUAL">Manual</md-option>
	                <md-option value="startDateTimestamp" translate="TAREFAS.MINHAS-TAREFAS.ORDENACAO.DATA-DE-RECEBIMENTO">Data de Recebimento</md-option>
	                <md-option value="dueDateTimestamp" translate="TAREFAS.MINHAS-TAREFAS.ORDENACAO.PRAZO">Prazo</md-option>
	                <md-option value="title" translate="TAREFAS.MINHAS-TAREFAS.ORDENACAO.TITULO">Título</md-option>
	            </md-select>

	            <md-divider class="h-48 mh-16"></md-divider>

	            <md-select class="simplified" ng-model="vm.taskOrderDescending" placeholder="Ordenação">
                    <md-option ng-value="false" translate="TAREFAS.MINHAS-TAREFAS.ORDENACAO.ORDEM-CRESCENTE">Ordem Crescente</md-option>
                    <md-option ng-value="true" translate="TAREFAS.MINHAS-TAREFAS.ORDENACAO.ORDEM-DECRESCENTE">Ordem Decrescente</md-option>
                </md-select>

				<md-divider class="h-48 mh-16"></md-divider>

				<div>
	                <md-select class="simplified" ng-model="vm.selectedFilter.dueDate" placeholder="Prazo" style="display:inline-block">
	                    <md-option ng-value="259200" translate="TAREFAS.MINHAS-TAREFAS.PRAZO.PROXIMOS-3-DIAS">Próximos 3 dias</md-option>
	                    <md-option ng-value="604800" translate="TAREFAS.MINHAS-TAREFAS.PRAZO.PROXIMOS-7-DIAS">Próximos 7 dias</md-option>
	                    <md-option ng-value="1209600" translate="TAREFAS.MINHAS-TAREFAS.PRAZO.PROXIMAS-2-SEMANAS">Próximas 2 semanas</md-option>
	                    <md-option ng-value="2419200" translate="TAREFAS.MINHAS-TAREFAS.PRAZO.PROXIMO-MES">Próximo mês</md-option>
	                </md-select>

	                <md-icon
	                	md-font-icon="icon-close"
	                	class="clickable"
	                	ng-click="vm.selectedFilter.dueDate = false"
	                	ng-show="vm.selectedFilter.dueDate !== false">
	                </md-icon>
               </div>

            	<div flex class="text-right">
            		<md-button class="md-raised" ng-click="vm.collapsed = !vm.collapsed">
	            		<span translate="TAREFAS.MINHAS-TAREFAS.VISAO-REDUZIDA" ng-if="!vm.collapsed">Visão Reduzida</span>
	            		<span translate="TAREFAS.MINHAS-TAREFAS.VISAO-EXPANDIDA" ng-if="vm.collapsed">Visão Expandida</span>
	            	</md-button>
            	</div>
            </div>

            <div class="toolbar" layout="row" layout-align="left center" ng-if="vm.hasSelectedTasks()">
            	<md-button class="md-raised">
            		<span translate="TAREFAS.MINHAS-TAREFAS.ACOES.ASSUMIR">Assumir</span>
            	</md-button>
            	<md-button class="md-raised">
            		<span translate="TAREFAS.MINHAS-TAREFAS.ACOES.DELEGAR">Delegar</span>
            	</md-button>
            	<md-button class="md-raised" ng-click="vm.selectedToggleCompleted($event)">
            		<span translate="TAREFAS.MINHAS-TAREFAS.ACOES.CONCLUIR" ng-show="vm.selectedCompleteDistribution() == 0">Concluir</span>
            		<span translate="TAREFAS.MINHAS-TAREFAS.ACOES.REABRIR" ng-show="vm.selectedCompleteDistribution() == 1">Re-abrir</span>
            		<span translate="TAREFAS.MINHAS-TAREFAS.ACOES.CONCLUIR-REABRIR" ng-show="vm.selectedCompleteDistribution() == 0.5">Concluir/Re-abrir</span>
            	</md-button>
            	<md-button class="md-raised">
            		<span translate="TAREFAS.MINHAS-TAREFAS.ACOES.INCLUIR-TAG">Incluir Tag</span>
            	</md-button>
            	<div flex class="text-right">
            		<md-button class="md-raised" ng-click="vm.removeSelection()">
	            		<span translate="TAREFAS.MINHAS-TAREFAS.ACOES.REMOVER-SELECAO">Remover Seleção</span>
	            	</md-button>

	            	<md-button class="md-raised" ng-click="vm.collapsed = !vm.collapsed">
	            		<span translate="TAREFAS.MINHAS-TAREFAS.VISAO-REDUZIDA" ng-if="!vm.collapsed">Visão Reduzida</span>
	            		<span translate="TAREFAS.MINHAS-TAREFAS.VISAO-EXPANDIDA" ng-if="vm.collapsed">Visão Expandida</span>
	            	</md-button>
            	</div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" layout="row" flex>

                <!-- Todo list pane -->
                <md-content class="todo-list-pane" flex
                            ng-include="'app/main/tarefas/minhas-tarefas/views/list/list-view.html'" ms-scroll="vm.msScrollOptions">
                </md-content>
                <!-- / Todo list pane -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARDb-->

    </div>
    <!-- / CENTER -->

</div>
