<md-toolbar class="md-accent" ng-class="'md-'+vm.board.settings.color+'-bg'">
    <div class="md-toolbar-tools">

        <md-button ng-hide="vm.selectedMenu === 'CONFIGURACOES'" class="md-icon-button"
                   ng-click="vm.selectedMenu = 'CONFIGURACOES'" aria-label="back" translate
                   translate-attr-aria-label="SB.BACK">
            <md-icon md-font-icon="icon-arrow-left"></md-icon>
        </md-button>

        <span flex class="menu-title" ng-attr-translate="{{ 'TAREFAS.PAINEL-DE-FASES.SIDEBAR.TITULO.' + vm.selectedMenu }}"></span>

    </div>
</md-toolbar>

<md-content ng-show="vm.selectedMenu === 'CONFIGURACOES'" class="animate-slide-right settings" ms-scroll ms-sidenav-helper>
    <md-list>

        <md-list-item class="item" ng-click="vm.selectedMenu = 'COR-DO-PAINEL'">
            <md-icon md-font-icon="icon-format-color-fill" class="s18"></md-icon>
            <p class="title" translate="TAREFAS.PAINEL-DE-FASES.SIDEBAR.TITULO.COR-DO-PAINEL">Cor do Painel</p>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item class="item" ng-click="vm.selectedMenu = 'ROTULOS'" aria-label="inbox">
            <md-icon md-font-icon="icon-label" class="s18"></md-icon>
            <p class="title" translate="TAREFAS.PAINEL-DE-FASES.SIDEBAR.TITULO.ROTULOS">Rótulos</p>
        </md-list-item>

        <md-list-item class="item" ng-click="vm.selectedMenu = 'MEMBROS'" aria-label="inbox">
            <md-icon md-font-icon="icon-account-multiple" class="s18"></md-icon>
            <p class="title" translate="TAREFAS.PAINEL-DE-FASES.SIDEBAR.TITULO.MEMBROS">Membros</p>
        </md-list-item>

    </md-list>
</md-content>

<md-content ng-show="vm.selectedMenu === 'COR-DO-PAINEL'" class="animate-slide-left board-color-selection">
    <div layout="column" layout-fill
         ng-include="'app/main/tarefas/painel-de-fases/sidenavs/settings/menus/color/color-menu.html'"
         ng-controller="ColorMenuController as vm">
    </div>
</md-content>

<md-content ng-show="vm.selectedMenu === 'ROTULOS'" class="animate-slide-left labels">
    <div layout="column" layout-fill
         ng-include="'app/main/tarefas/painel-de-fases/sidenavs/settings/menus/labels/labels-menu.html'"
         ng-controller="LabelsMenuController as vm">
    </div>
</md-content>

<md-content ng-show="vm.selectedMenu === 'MEMBROS'" class="animate-slide-left members">
    <div layout="column" layout-fill
         ng-include="'app/main/tarefas/painel-de-fases/sidenavs/settings/menus/members/members-menu.html'"
         ng-controller="MembersMenuController as vm">
    </div>
</md-content>
