# --------------------------------
# Mac OS
.DS_Store
.project

# Visual Studio Code
.vscode

# Gradle
.gradle
build
bin
data


# Eclipse
.settings/
.project
.classpath

# Node
node_modules
node
node_cache

# Bower
bower_components

# Gulp
.tmp
dist

# Typings
typings

# JS Main
src/app/main/**/*.js
src/app/main/**/*.js.map

# JS Test Unit
test/unit/build
test/unit/typings
test/unit/results
test/unit/coverage
test/unit/app/main/**/*.js
test/unit/app/main/**/*.js.map

# JS Test E2E
test/e2e/build
test/e2e/typings
test/e2e/results
test/e2e/app/**/*.js
test/e2e/app/shared

# WebStorm
.idea
.eslintrc

# Certificado do registro
stfca.pem