# --------------------------------
# Mac OS
.DS_Store
.project

# Visual Studio Code
.vscode

# Gradle
.gradle
build
bin
data


# Eclipse
.settings/
.project

# Node
node_modules
node

# Bower
bower_components

# Gulp
.tmp
dist

# Typings
typings

# JS Main
src/app/main/**/*.js
src/app/main/**/*.js.map

# WebStorm
.idea