#nao-autenticado {
    height: 100%;
    overflow: hidden;
    background: url('/assets/images/backgrounds/nao-autenticado.jpg') no-repeat center center fixed;
    background-size: cover;

    #nao-autenticado-intro {
        padding: 128px;

        .logo {
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-size: 86px;
            font-weight: 500;
            margin-bottom: 10px;
            margin-top:100px;
            color: #FFFFFF;
            border-radius: 2px;
            text-align: center;
        }

        .title {
            font-size: 42px;
            font-weight: 300;
        }

        .description {
            padding-top: 8px;
            font-size: 14px;
            max-width: 600px;
        }
    }

    #nao-autenticado-form-wrapper {
        width: 416px;
        min-width: 416px;
        max-width: 416px;
        height: 100%;
        background: #FFFFFF;

        #nao-autenticado-form {
            padding: 48px 48px 48px 48px;        

            .logo {
                width: 80px;
                height: 80px;
                line-height: 80px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                color: #FFFFFF;
                border-radius: 2px;
            }

            .title {
                font-size: 21px;
            }

            .description {
                padding-top: 8px;
            }

            form {
                width: 100%;
                text-align: left;
                padding-top: 14px;

                md-checkbox {
                    margin: 0;
                }

                .md-button {
                    width: 100%;
                    margin: 16px auto;
                    display: block;
                }

                md-input-container {
                    margin: 5px 0px;
                }
            }

            .separator {
                font-size: 15px;
                font-weight: 600;
                margin: 24px auto 16px auto;
                position: relative;
                overflow: hidden;
                width: 100px;
                text-align: center;
                color: rgba(0, 0, 0, 0.54);

                .text {
                    display: inline-block;
                    vertical-align: baseline;
                    position: relative;
                    padding: 0 8px;
                    z-index: 9999;

                    &:before, &:after {
                        content: '';
                        display: block;
                        width: 30px;
                        position: absolute;
                        top: 10px;
                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                    }

                    &:before {
                        right: 100%;
                    }

                    &:after {
                        left: 100%;
                    }
                }
            }
            
            .register {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }

                .link {

                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {
    #nao-autenticado {
        #nao-autenticado-form-wrapper {
            width: 100%;
            min-width: 100%;
            max-width: 100%;

            #nao-autenticado-form {
                text-align: center;
                padding: 24px;
            }
        }
    }
}