#painel-de-fases {
    min-height: 100%;

    #painel-selector {
        padding-top: 64px;
        
        .painel-list {
            padding: 32px 0;

            .painel-list-item {
                min-width: 190px;
                width: 190px;
                padding: 24px 0;
                margin: 16px;
                border-radius: 2px;
                background: rgba(0, 0, 0, 0.12);
                cursor: pointer;
                text-align: center;

                &:hover {
                    box-shadow: $whiteframe-shadow-4dp;
                }

                .painel-name {
                    padding-top: 16px;
                }
            }
        }
    }
}