<div class="p-16" layout="column">
    <h3 translate="PROCESSOS.PESQUISA-AVANCADA.SALVAR-PESQUISA">Salvar pesquisa</h3>

    <md-input-container flex class="m-0">
        <label for="searchName" translate="PROCESSOS.PESQUISA-AVANCADA.MODAL-SALVAR-PESQUISA.NOME-PESQUISA">Nome da pesquisa</label>
        <input
            type="text"
            ng-model="vm.searchName" />
    </md-input-container>

    <div layout="row" layout-align="center right">
        <md-button class="md-raised md-warn" ng-click="vm.cancel()">
            <span translate="PROCESSOS.PESQUISA-AVANCADA.MODAL-SALVAR-PESQUISA.CANCELAR">Cancelar</span>
        </md-button>

        <md-button class="md-raised md-primary" ng-click="vm.confirm()">
            <span translate="PROCESSOS.PESQUISA-AVANCADA.MODAL-SALVAR-PESQUISA.OK">OK</span>
        </md-button>
    </div>
</div>