.stf-header {
	background-image: url('/assets/images/backgrounds/stf-fachada-bigger.jpg');
	background-size: cover;
	background-position: center;
	
	position: relative;

	.header-content {
		padding: 24px;
		background: rgba(28, 111, 151, 0.7);
	}
	

	.breadcrumb {
		&, span, md-icon {
			color: rgba(255, 255, 255, 0.75);
		}

		.separator {
			margin: 1px 8px 0;
		}

		.title {
			font-weight: bold;
		}
	}

	.fab {
	    position: absolute;
    	right: 18px;
    	bottom: -32px;

    	&.with-text {
    		border-radius: 20px;
    		bottom: -22px;
			padding: 0 20px;
    		z-index: 1;

			.icon {
				vertical-align: middle;
			}

    		.text {
    			vertical-align: middle;
    			line-height: 35px;
    		}
    	}
	}
}
