<div class="criteria-summary md-grey-200-bg" layout="row" slidebox flex>
    <div ng-if="!(criterias) || criterias.length === 0">
        <div class="criteria-thumb placeholder">
			<div class="operator md-fab md-button">
                <md-icon md-font-icon ng-class="'PESQUISA-AVANCADA.OPERADOR-LOGICO.ICON.MUST' | translate"></md-icon>
            </div>
            <span class="name" translate="PESQUISA-AVANCADA.SELECIONE-CRITERIO">Selecione um critério</span>
            <div class="divider md-accent-bg"></div>
            <span class="data-type" translate="PESQUISA-AVANCADA.CRITERIO">Critério</span>
        </div>
        <div class="criteria-thumb placeholder">
            <div class="operator md-fab md-button">
                <md-icon md-font-icon ng-class="'PESQUISA-AVANCADA.OPERADOR-LOGICO.ICON.MUST' | translate"></md-icon>
            </div>
            <span class="name" translate="PESQUISA-AVANCADA.COMBINE-VARIOS-OUTROS">Combine vários outros</span>
            <div class="divider md-accent-bg"></div>
            <span class="data-type" translate="PESQUISA-AVANCADA.CRITERIO">Critério</span>
        </div>
    </div>

    <div ng-repeat="criteria in criterias track by $index" class="criteria-thumb">
        <div class="operator md-fab md-button" operator-color="criteria.logicalOperator"
        	aria-label="{{'PESQUISA-AVANCADA.OPERADOR-LOGICO.TEXT.' + criteria.logicalOperator | translate}}">
            <md-icon md-font-icon ng-class="'PESQUISA-AVANCADA.OPERADOR-LOGICO.ICON.' + criteria.logicalOperator | translate"></md-icon>
        </div>

        <span class="name" ng-if="criteria.value || criteria.comparisonOperator === 'EXISTS'">{{criteria | criteriaDisplayName}}</span>
        <span class="name empty" ng-if="!criteria.value && criteria.comparisonOperator !== 'EXISTS'">{{ criteria.trait.name }}</span>
        <div class="divider" operator-color="criteria.logicalOperator"></div>
        <span class="data-type">{{ criteria.trait.name }}</span>
    </div>
</div>