<div class="editor-directive" ng-class="{'edicao-iniciada': vm.edicaoIniciada}" ng-style="editorHeight ? {height: editorHeight} : ''" layout-fill>
    <div ng-if="vm.showEditor" onlyoffice="vm.config" save="save(url, close)" class="onlyoffice-iframe-container" layout-fill></div>
    <div ng-if="vm.showProgress">
        <div class="loadmask">
            <div class="loader-page">
                <div class="asc-loadmask-body" role="presentation" tabindex="-1">
                    <div class="asc-loadmask-image"></div>
                    <div class="asc-loadmask-title">Salvando documento</div>
                </div>
            </div>
        </div>
    </div>
</div>