/* Animação do editor */
.loadmask {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: none;
    background-color: #f4f4f4;
}

.loader-page {
    top: 50%;
    left: 50%;
    width: 300px;
    height: 180px;
    position: absolute;
    margin-top: -37.5px;
    margin-left: -128.5px;
}

.asc-loadmask-body {
    position: absolute;
    padding: 20px;
    line-height: 33px;
    border: none;
    background-image: none;
    background-color: rgba(30,30,30,.7);
    color: #f1f1f1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.asc-loadmask-body>div {
    display: inline-block;
    vertical-align: middle
}

.asc-loadmask-body .asc-loadmask-image {
    background-image: url("/app/main/documentos/img/loading.gif");
    height: 33px;
    width: 33px;
    float: left;
    margin-left: 20px
}

.asc-loadmask-body .asc-loadmask-title {
    font-size: 13px;
    margin: 0 20px
}
/* Fim de animação do editor */

.onlyoffice-iframe-container {
    position: relative;
}

.onlyoffice-iframe-container iframe {
    position: absolute;
}

/* Uploader */
.my-drop-zone {
	border: dotted 3px lightgray;
	background-color: rgba(0,0,0,0.03); 
	min-height: 180px;
	background-image: url("/app/main/documentos/img/dropzone.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.my-drop-zone-single {
	border: dotted 1px lightgray;
	background-color: rgba(0,0,0,0.03); 
	min-height: 360px;
	background-image: url("/app/main/documentos/img/dropzone_stf_sem_arraste.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.nv-file-over { 
	border: dotted 3px red; 
}

.another-file-over-class {
	border: dotted 3px green;
}

.invisible {
    visibility: hidden;
}

.force-pointer {
	cursor: pointer;
}