#login-form {

    padding-top: 80px;

    .description {
        margin-bottom:12px;
    }

    .remember-forgot-password {
        font-size: 13px;
        margin-top: 8px;

        .remember-me {
            margin-bottom: 16px
        }

        .forgot-password {
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 16px
        }
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;;
        border-color: gray !important;
    }
    
}
