<stf-header fab-action="vm.configure()" fab-icon="icon-cog">
</stf-header>

<div class="content" layout="column" ms-scroll>
    <md-tabs md-dynamic-height flex layout="column">
        <md-tab ng-repeat="dashboard in vm.dashboards" label="{{ dashboard.nome }}" ui-sref="app.gestao.meus-paineis.dashboard({'dashboardId': dashboard.id})" md-active="vm.isTabActive(dashboard.id)">
            <md-content class="padding-vertical-16 padding-horizontal-24 border-top">
                <dashboard ng-if="vm.isTabActive(dashboard.id)" value="dashboard"></dashboard>
            </md-content>
        </md-tab>
    </md-tabs>
</div>