<div id="login-form">
    <div class="logo" hide-gt-sm>
        <span><img src="/assets/images/logos/stfdigital.png"/></span>
    </div>

    <div class="title" translate="LOGIN.TITULO">STF Digital</div>
    <div class="description" translate="LOGIN.DESCRICAO">
        Todos os serviços do STF em um único lugar
    </div>

    <form name="loginForm" ng-submit="vm.entrar()" novalidate>
        <md-input-container class="md-block">
            <label translate="PLATAFORMA.CAMPO.USUARIO">Usuário</label>
            <input type="text" name="usuario" ng-model="vm.form.usuario" required>

            <div ng-messages="loginForm.usuario.$error" ng-show="loginForm.usuario.$touched" role="alert" multiple>
                <div ng-message="required">
                    <span translate="PLATAFORMA.ERRO.REQUERIDO">Esse campo é obrigatório. Por favor preencha.</span>
                </div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label translate="PLATAFORMA.CAMPO.SENHA">Senha</label>
            <input type="password" name="senha" ng-model="vm.form.senha" required>
            <div ng-messages="loginForm.senha.$error" ng-show="loginForm.senha.$touched" role="alert">
                <div ng-message="required">
                    <span translate="PLATAFORMA.ERRO.REQUERIDO">Esse campo é obrigatório. Por favor preencha.</span>
             </div>
            </div>
        </md-input-container>

        <div class="remember-forgot-password" layout="row" layout-sm="column" layout-align="space-between center">
            <md-checkbox class="remember-me" ng-model="vm.form.lembrarMe" aria-label="Lembre de mim">
                <span translate="LOGIN.LEMBRAR_ME">Lembre de mim</span>
            </md-checkbox>

            <a ui-sref="app.pages_auth_forgot-password" class="clickable link" translate="LOGIN.ESQUECEU_SENHA">Esqueceu sua senha?</a>
        </div>

        <md-button type="submit" class="md-raised md-accent" aria-label="ENTRAR" ng-disabled="loginForm.$invalid || loginForm.$pristine" translate="LOGIN.ENTRAR" translate-attr-aria-label="LOGIN.ENTRAR">
            ENTRAR
        </md-button>
    </form>

    <div class="register" layout="row" layout-sm="column" layout-align="center center">
        <span class="text" translate="LOGIN.NAO_TEM_CONTA">Não tem uma conta?</span>
        &nbsp;
        <a class="clickable link" ui-sref="app.cadastro" translate="LOGIN.CRIAR_CONTA">Criar uma conta</a>
    </div>
</div>