
<!-- WIDGET GROUP -->
<div class="widget-group" layout="row" flex="100" layout-wrap>

    <!-- WIDGET 8 -->
    <ms-widget layout="column" flex="100" flex-gt-sm="50">

        <!-- Front -->
        <ms-widget-front class="white-bg">
            <div class="h3 p-16">
                {{vm.widget8.title}}
            </div>

            <md-divider></md-divider>

            <div class="p-16">
                <nvd3 class="h-400"
                      options="vm.widget8.mainChart.options"
                      data="vm.widget8.mainChart.data"></nvd3>
            </div>

        </ms-widget-front>
        <!-- / Front -->

    </ms-widget>
    <!-- / WIDGET 8 -->

    <!-- WIDGET 9 -->
    <ms-widget layout="column" flex="100" flex-gt-sm="50">

        <!-- Front -->
        <ms-widget-front class="white-bg">
            <div class="h3 p-16">
                {{vm.widget9.title}}
            </div>

            <md-divider></md-divider>

            <div class="p-16" layout="column" layout-align="center" layout-gt-xs="row"
                 layout-align-gt-xs="space-between center">
                <div class="p-8">
                    <div class="h4 secondary-text">{{vm.widget9.weeklySpent.title}}</div>
                    <div class="pt-8 md-display-1 font-weight-300">
                        <span class="secondary-text">$</span><span>{{vm.widget9.weeklySpent.count[vm.widget9.currentRange]}}</span>
                    </div>
                </div>
                <div class="p-8" flex>
                    <nvd3 class="h-50"
                          config="vm.widget9.chart.config"
                          options="vm.widget9.chart.options"
                          data="vm.widget9.weeklySpent.chartData"></nvd3>
                </div>
            </div>

            <div class="p-16" layout="column" layout-align="center" layout-gt-xs="row"
                 layout-align-gt-xs="space-between center">
                <div class="p-8">
                    <div class="h4 secondary-text">{{vm.widget9.totalSpent.title}}</div>
                    <div class="pt-8 md-display-1 font-weight-300">
                        <span class="secondary-text">$</span><span>{{vm.widget9.totalSpent.count[vm.widget9.currentRange]}}</span>
                    </div>
                </div>
                <div class="p-8" flex>
                    <nvd3 class="h-50"
                          config="vm.widget9.chart.config"
                          options="vm.widget9.chart.options"
                          data="vm.widget9.totalSpent.chartData"></nvd3>
                </div>
            </div>

            <div class="p-16" layout="column" layout-align="center" layout-gt-xs="row"
                 layout-align-gt-xs="space-between center">
                <div class="p-8">
                    <div class="h4 secondary-text">{{vm.widget9.remaining.title}}</div>
                    <div class="pt-8 md-display-1 font-weight-300">
                        <span class="secondary-text">$</span><span>{{vm.widget9.remaining.count[vm.widget9.currentRange]}}</span>
                    </div>
                </div>
                <div class="p-8" flex>
                    <nvd3 class="h-50"
                          config="vm.widget9.chart.config"
                          options="vm.widget9.chart.options"
                          data="vm.widget9.remaining.chartData"></nvd3>
                </div>
            </div>

            <div class="pv-24 mh-24 border-top">
                <div class="h4 secondary-text">{{vm.widget9.totalBudget.title}}</div>
                <div class="pt-8 md-display-1 font-weight-300">
                    <span class="secondary-text">$</span><span>{{vm.widget9.totalBudget.count}}</span>
                </div>
            </div>

        </ms-widget-front>
        <!-- / Front -->

    </ms-widget>
    <!-- / WIDGET 9 -->

</div>
<!-- / WIDGET GROUP -->


<!-- WIDGET GROUP -->
<div class="widget-group" layout="row" flex="100" layout-wrap>

    <!-- WIDGET 10 -->
    <ms-widget layout="row" flex="100">

        <!-- Front -->
        <ms-widget-front class="white-bg">

            <div class="simple-table-container" ms-responsive-table>
                <div class=" table-title">
                    {{vm.widget10.title}}
                </div>

                <table class="simple">
                    <thead>
                        <tr>
                            <th ng-repeat="column in vm.widget10.table.columns">
                                {{column.title}}
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="row in vm.widget10.table.rows">
                            <td ng-repeat="cell in row">
                                <span class="{{cell.classes}}">
                                    {{cell.value}}
                                </span>
                                <i ng-if="cell.icon" class="icon {{cell.icon}}"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </ms-widget-front>
        <!-- / Front -->

    </ms-widget>
    <!-- / WIDGET 10 -->

</div>
<!-- / WIDGET GROUP -->
