<div class="sidebar">
	<div class="p-16">
		<md-input-container md-no-float class="sidebar-search-search">
			<md-icon md-font-icon="icon-magnify"></md-icon>
			<input placeholder="Buscar pesquisa salva" ng-model="vm.searchSearch" />
		</md-input-container>
	</div>

	<md-divider></md-divider>

	<div class="navigation-simple" layout="column">
		<md-button class="item hover-container" ng-repeat="search in vm.savedSearchs | filter:{label:vm.searchSearch}" ng-click="vm.loadSearch(search)">
			{{ search.label }}
        </md-button>
	</div>
</div>