<div ng-if="criteria.comparisonOperator !== 'EXISTE' && criteria.trait.dataType !== 'constant'">
    <div ng-if="criteria.comparisonOperator !== 'ENTRE' && criteria.trait.dataType !== 'list' && criteria.trait.dataType !== 'date'">
        <md-input-container md-no-float>
            <input placeholder="Valor" ng-model="criteria.value">
        </md-input-container>
    </div>

    <div ng-if="criteria.comparisonOperator === 'ENTRE' && criteria.trait.dataType !== 'date'">
        <md-input-container md-no-float>
            <input placeholder="Valor" ng-model="criteria.value[0]">
        </md-input-container>
        <span class="connector">e</span>
        <md-input-container md-no-float>
            <input placeholder="Valor" ng-model="criteria.value[1]">
        </md-input-container>
    </div>

    <div ng-if="criteria.trait.dataType === 'list'">
        <md-select placeholder="Escolha..." ng-model="criteria.value">
            <md-option ng-repeat="val in criteria.trait.values" value="{{val}}">
                {{:: val }}
            </md-option>
        </md-select>
    </div>

    <div ng-if="criteria.trait.dataType === 'date'">
        <div ng-if="criteria.comparisonOperator === 'ENTRE'">
            <md-datepicker flex ng-model="criteria.value[0]" md-placeholder="Escolha..."></md-datepicker>
            <span class="connector">e</span>
            <md-datepicker flex ng-model="criteria.value[1]" md-placeholder="Escolha..."></md-datepicker>
        </div>

        <div ng-if="criteria.comparisonOperator !== 'ENTRE'">
            <md-datepicker flex ng-model="criteria.value" md-placeholder="Escolha..."></md-datepicker>
        </div>
    </div>
</div>