<div class="p-16" layout="column">
    <h3 translate="PESQUISA-AVANCADA.SALVAR-PESQUISA">Salvar pesquisa</h3>

    <md-input-container flex class="m-0">
        <label for="searchName" translate="PESQUISA-AVANCADA.MODAL-SALVAR-PESQUISA.NOME-PESQUISA">Nome da pesquisa</label>
        <input type="text" ng-model="vm.search.label" />
    </md-input-container>
    
    <md-input-container flex class="m-0">
       	<md-checkbox ng-model="vm.search.executable" aria-label="{{ 'PESQUISA-AVANCADA.MODAL-SALVAR-PESQUISA.EXECUCAO-AUTOMATICA' | translate }}">
            {{ 'PESQUISA-AVANCADA.MODAL-SALVAR-PESQUISA.EXECUCAO-AUTOMATICA' | translate }}
        </md-checkbox>
    </md-input-container>

    <div layout="row" layout-align="center right">
        <md-button class="md-raised md-warn" ng-click="vm.cancel()">
            <span translate="PESQUISA-AVANCADA.MODAL-SALVAR-PESQUISA.CANCELAR">Cancelar</span>
        </md-button>

        <md-button class="md-raised md-primary" ng-click="vm.confirm()">
            <span translate="PESQUISA-AVANCADA.MODAL-SALVAR-PESQUISA.SALVAR">Salvar</span>
        </md-button>
    </div>
</div>