<md-menu>
    <md-button aria-label="Comandos" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin md-svg-icon="assets/icons/more_vert.svg"></md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item ng-repeat="(index, config) in commandsConfig | orderBy: 'description' track by config.id">
              <md-button ng-click="go(index)"><span md-menu-align-target>{{config.description}}</span></md-button>
        </md-menu-item>
        <md-menu-item ng-if="commandsConfig.length == 0">
              <span md-menu-align-target>Nenhuma ação disponível</span>
        </md-menu-item>
    </md-menu-content>
</md-menu>