<md-menu>
    <md-button aria-label="Comandos" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-menu-origin md-svg-icon="assets/icons/more_vert.svg"></md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item ng-repeat="(index, command) in commands | orderBy: 'description' track by command.id">
              <md-button ng-click="go(index)"><span md-menu-align-target>{{command.description}}</span></md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>